@page "/department/create"
@page "/department/edit/{Id:int?}"

@using arna.HRMS.ClientServices.Common
@using arna.HRMS.ClientServices.Department
@using arna.HRMS.Components.Common
@using arna.HRMS.Components.lib.components.ui.Forms
@using arna.HRMS.Components.lib.components.ui.Model
@using arna.HRMS.Models.DTOs

@inject IDepartmentService DepartmentService
@inject NavigationManager NavigationManager
@inject NotificationService NotificationService

<div class="container py-4">
    <FullPageLoader/>
    <div class="card shadow-sm border-0 rounded-3">
        <div class="card-header bg-primary text-white">
            <h5 class="mb-0">
                @(IsEditMode ? "Edit Department" : "Create Department")
            </h5>
        </div>

        <div class="card-body p-4">

            @if (!isLoading)
            {
                <EditForm Model="department" OnValidSubmit="HandleValidSubmit" autocomplete="off">
                    <DataAnnotationsValidator />

                    <div class="row g-4">

                        <div class="col-md-6">
                            <AppInput Label="Department Name"
                                      Value="@department.Name"
                                      ValueChanged="v => department.Name = v"
                            />
                            <ValidationMessage For="@(() => department.Name)" />
                        </div>

                        <div class="col-md-6">
                            <AppInput Label="Code"
                                      Value="@department.Code"
                                      ValueChanged="v => department.Code = v" />
                            <ValidationMessage For="@(() => department.Code)" />
                        </div>

                        <div class="col-md-6">
                            <AppInput Label="Description"
                                      Value="@department.Description"
                                      ValueChanged="v => department.Description = v" />
                            <ValidationMessage For="@(() => department.Description)" />
                        </div>

                        <div class="col-md-6">
                            <AppSelect Label="Parent Department Name"
                                       Options="@departmentlist"
                                       Value="@department.ParentDepartmentId?.ToString()"
                                       ValueChanged="v =>
                                            {
                                                department.ParentDepartmentId=
                                                int.TryParse(v, out var d) ? d : null;
                                             }" 
                            />
                            <ValidationMessage For="@(() => department.ParentDepartmentId)" />
                        </div>

                        <!-- Active (EDIT ONLY) -->
                        @if (IsEditMode)
                        {
                            <div class="col-md-6 mt-4">
                                <AppCheckBox Label="Action"
                                             Value="@department.IsActive" 
                                             ValueChanged="@(v => department.IsActive = v)"/>
                            </div>
                        }
                    </div>

                    <div class="mt-5 d-flex justify-content-end gap-3">
                        <AppButton Text="Back"
                                   CssClass="btn btn-outline-secondary px-4"
                                   OnClick="GoBack" />

                        <AppButton Text="@(IsEditMode ? "Update" : "Save")"
                                   Type="submit"
                                   CssClass="btn btn-primary px-5" />
                    </div>
                </EditForm>
            }
        </div>
    </div>

</div>

@code {
    [Parameter] public int? Id { get; set; }
    private DepartmentDto department= new();
    private bool isLoading = true;
    private bool IsEditMode => Id.HasValue;
    private List<SelectOption> departmentlist = new();

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;

        var DepartmentResult = await DepartmentService.GetDepartmentsAsync();
        if (DepartmentResult.Data.Any())
        {
            departmentlist = DepartmentResult.Data.Select(d => new SelectOption
            {
                Value = d.Id.ToString(),
                Text = d.Name
            }).ToList(); ;
        }

        if (IsEditMode)
        {
            var result = await DepartmentService.GetDepartmentByIdAsync(Id!.Value);

            if (result.IsSuccess && result.Data != null)
            {
                department = result.Data;
            }
            else
            {
                NotificationService.Error("Department not found.");
                NavigationManager.NavigateTo("/department");
            }
        }
        else
        {
            department = new DepartmentDto
            {
                IsActive = true,
            };
        }

        isLoading = false;
    }

    private async Task HandleValidSubmit()
    {
        if (IsEditMode)
        {
            var result = await DepartmentService.UpdateDepartmentAsync(Id!.Value, department);

            if (!result.IsSuccess)
            {
                NotificationService.Error($"Update failed ({result.StatusCode}): {result.Message ?? "Unable to update Department."}");
                return;
            }

            NotificationService.Success("Department updated successfully.");
        }
        else
        {
            var result = await DepartmentService.CreateDepartmentAsync(department);

            if (!result.IsSuccess)
            {
                NotificationService.Error($"Create failed ({result.StatusCode}): {result.Message ?? "Unable to create Department."}");
                return;
            }

            NotificationService.Success("Department created successfully.");
        }

        NavigationManager.NavigateTo("/department");
    }

    private void GoBack() => NavigationManager.NavigateTo("/department");
}
