@using System.Linq.Expressions
@using Microsoft.AspNetCore.Components.Forms

<div class="mb-3">
    @if (!string.IsNullOrWhiteSpace(Label))
    {
        <label class="form-label">@Label</label>
    }

    <input type="@Type"
           class="form-control"
           value="@Value"
           readonly="@ReadOnly"
           disabled="@Disabled"
           @onchange="OnChange"
           @attributes="AdditionalAttributes" />

    @if (ValidationExpression != null)
    {
        <ValidationMessage For="ValidationExpression" />
    }

    @ChildContent
</div>

@code {
    [CascadingParameter] private EditContext? EditContext { get; set; }

    [Parameter] public string Label { get; set; } = "";
    [Parameter] public string Type { get; set; } = "text";

    [Parameter] public string? Value { get; set; }
    [Parameter] public EventCallback<string?> ValueChanged { get; set; }

    [Parameter] public Expression<Func<object>>? ValidationExpression { get; set; }

    [Parameter] public RenderFragment? ChildContent { get; set; }

    [Parameter] public bool ReadOnly { get; set; } = false;
    [Parameter] public bool Disabled { get; set; } = false;

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private FieldIdentifier _fieldIdentifier;

    protected override void OnParametersSet()
    {
        if (EditContext != null && ValidationExpression != null)
        {
            _fieldIdentifier = FieldIdentifier.Create(ValidationExpression);
        }
    }

    private async Task OnChange(ChangeEventArgs e)
    {
        if (!ReadOnly && !Disabled)
        {
            await ValueChanged.InvokeAsync(e.Value?.ToString());

            if (ValidationExpression != null)
                EditContext?.NotifyFieldChanged(_fieldIdentifier);
        }
    }
}
