@page "/users"

@using arna.HRMS.ClientServices.Auth
@using arna.HRMS.ClientServices.Users
@using arna.HRMS.Models.DTOs
@using arna.HRMS.ClientServices.Common

@inject IUsersService UsersService
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject NotificationService NotificationService

<div class="container mt-4">

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h3 class="fw-bold text-primary">Users Directory</h3>

        <button class="btn btn-success" @onclick='() => NavigationManager.NavigateTo("/users/create")'>
            Add User
        </button>

    </div>

    <div class="mb-3">
        <input type="text" placeholder="Search Users..." class="form-control w-50 shadow-sm" />
    </div>


    @if (users == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="table-responsive shadow-sm">

            <table class="table table-hover align-middle">

                <thead class="table-dark">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>FullName</th>
                        <th>Phone</th>
                        <th>Role</th>
                        <th>PassWord</th>
                        <th>Employee</th>
                        <th>Status</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var user in users)
                    {
                        <tr>
                            <td> @user.Username </td>
                            <td> @user.Email </td>
                            <td> @user.FullName </td>
                            <td> @user.PhoneNumber </td>
                            <td> @user.Role </td>
                            <td> @user.Password </td>
                            <td> @user.EmployeeName </td>
                            <td>
                                @if (user.IsActive)
                                {
                                    <span class="badge bg-success">Active</span>
                                }
                                else
                                {
                                    <span class="badge bg-danger">Inactive</span>
                                }
                            </td>

                            <td class="text-center">
                                <div class="btn-group">
                                    <button class="btn btn-outline-primary btn-sm"
                                    @onclick="@(() => NavigationManager.NavigateTo($"/users/edit/{user.Id}"))">
                                        <i class="bi bi-pencil-square"></i>
                                    </button>
                                    <br />
                                    <button class="btn btn-outline-danger btn-sm" @onclick="() => DeleteUser(user.Id)">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </div>

                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    }
</div>

<style>
    .table-hover tbody tr:hover {
    background-color: #f7f9fc !important;
    }
</style>

@code {
    private List<UserDto>? users;
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        await LoadUsers();
    }

    private async Task LoadUsers()
    {
        isLoading = true;

        var result = await UsersService.GetUsersAsync();

        if (result.IsSuccess && result.Data != null)
        {
            users = result.Data;
        }
        else
        {
            users = new List<UserDto>();
        }

        isLoading = false;
    }

    private async Task DeleteUser(int id)
    {
        bool isConfirmed = await JsRuntime.InvokeAsync<bool>(
            "confirm",
            "Are you sure you want to delete this user?"
        );

        if (!isConfirmed)
            return;

        var result = await UsersService.DeleteUserAsync(id);

        if (result.IsSuccess)
        {
            NotificationService.Success("User deleted successfully.");
            await LoadUsers();
        }
    }
}

