@page "/user/create"
@page "/user/edit/{Id:int}"

@using arna.HRMS.ClientServices.Admin.Employee
@using arna.HRMS.ClientServices.Admin.Role
@using arna.HRMS.ClientServices.Admin.User
@using arna.HRMS.ClientServices.Auth
@using arna.HRMS.ClientServices.Common
@using arna.HRMS.Components.Loader
@using arna.HRMS.Components.lib.components.ui.Forms
@using arna.HRMS.Components.lib.components.ui.Model
@using arna.HRMS.Models.Enums
@using arna.HRMS.Models.ViewModels

@inject IUsersService UsersService
@inject IEmployeeService EmployeeService
@inject NavigationManager NavigationManager
@inject NotificationService NotificationService
@inject IRoleService RoleService

<div class="container py-4">
    <FullPageLoader Visible = "isLoading"/>

    <div class="card shadow-sm border-0 rounded-3">
        <div class="card-header bg-primary text-white">
            <h5 class="mb-0">
                @(IsEditMode ? "Edit User" : "Create User")
            </h5>
        </div>

        <div class="card-body p-4">

            @if (!isLoading)
            {
                <EditForm Model="user" OnValidSubmit="HandleValidSubmit" autocomplete="off">
                    <DataAnnotationsValidator />

                    <div class="row g-4">
                        <!-- Username -->
                        <div class="col-md-6">
                            <AppInput Label="Username"
                            Value="@user.Username"
                            ValueChanged="v => user.Username = v"
                            ValidationExpression="@(() => user.Username)">
                            </AppInput>
                        </div>

                        <!-- Email -->
                        <div class="col-md-6">
                            <AppInput Label="Email"
                            Type="email"
                            Value="@user.Email"
                            ValueChanged="@(v => user.Email = v)"
                            ValidationExpression="@(() => user.Email)">
                            </AppInput>
                        </div>

                        <!-- First Name -->
                        <div class="col-md-6">
                            <AppInput Label="First Name"
                            Value="@user.FirstName"
                            ValueChanged="@(v => user.FirstName = v)"
                            ValidationExpression="@(() => user.FirstName)">
                            </AppInput>
                        </div>

                        <!-- Last Name -->
                        <div class="col-md-6">
                            <AppInput Label="Last Name" 
                            Value="@user.LastName" 
                            ValueChanged="v => user.LastName=v"
                            ValidationExpression="@(() => user.LastName)">
                            </AppInput>
                        </div>

                        <!-- Phone -->
                        <div class="col-md-6">
                            <AppInput Label="Phone Number"
                            Value="@user.PhoneNumber"
                            ValueChanged="v => user.PhoneNumber = v"
                            ValidationExpression="@(() => user.PhoneNumber)">
                            </AppInput>
                        </div>

                        <!-- Employee -->
                        @* <div class="col-md-6">
                            <label class="form-label">Employee</label>
                            <InputSelect class="form-select"
                            @bind-Value="user.EmployeeId">
                                <option value="">Select Employee</option>
                                @foreach (var emp in employees)
                                {
                                    <option value="@emp.Id">@emp.FullName</option>
                                }
                            </InputSelect>
                            <ValidationMessage For="@(() => user.EmployeeId)" />
                        </div> *@

                        <!-- ROLE -->
                        <div class="col-md-6">
                            <AppSelect Label="Role"
                                       Options="roles"
                                       Value="@user.RoleId.ToString()"
                                       ValueChanged="v => user.RoleId = int.Parse(v!)"
                                       ValidationExpression="@(() => user.RoleId)" />
                        </div>

                        <div class="col-md-6">
                            <AppPasswordInput Label="Password"
                            IsRequired="true"
                            Value="@user.Password"
                            ValueChanged="v => user.Password = v"
                            ValidationExpression="@(() => user.Password)" />
                        </div>

                        <!-- Active (EDIT ONLY) -->
                        @if (IsEditMode)
                        {
                            <div class="col-md-6 mt-4">
                                <AppCheckBox Label="Active"
                                Value="@user.IsActive"
                                ValueChanged="@(v => user.IsActive = v)" />
                            </div>
                        }
                    </div>

                    <div class="mt-5 d-flex justify-content-end gap-3">
                        <AppButton Text="Back"
                        ButtonClass="btn btn-outline-dark px-4"
                        OnClick="GoBack" />

                        <AppButton Text="@(IsEditMode ? "Update" : "Save")"
                        Type="submit"
                        ButtonClass="btn btn-primary px-5" />
                    </div>
                </EditForm>
            }
        </div>
    </div>

</div>

@code {
    [Parameter] public int? Id { get; set; }
    private UserViewModel user = new();
    private bool isLoading = true;
    private bool IsEditMode => Id.HasValue;
    private List<EmployeeViewModel> employees = new();
    private List<SelectOption> roles = new();

    protected override async Task OnParametersSetAsync()
    {
        isLoading = true;

        // Employees
        var employeeResult = await EmployeeService.GetEmployeesAsync();
        if (employeeResult.IsSuccess && employeeResult.Data != null)
        {
            employees = employeeResult.Data.ToList();
        }
        else
        {
            employees = new(); 
        }

        // Roles
        var roleResult = await RoleService.GetRolesAsync();
        if (roleResult.IsSuccess && roleResult.Data != null)
        {
            roles = roleResult.Data
                .Select(r => new SelectOption
                    {
                        Value = r.Id.ToString(),
                        Text = r.Name.ToString()
                    })
                .ToList();
        }
        else
        {
            roles = new();
        }

        if (IsEditMode)
        {
            var result = await UsersService.GetUserByIdAsync(Id!.Value);

            if (result.IsSuccess && result.Data != null)
            {
                user = result.Data;
            }
            else
            {
                NotificationService.Error($"{result.Message ?? "User not found."}");
                NavigationManager.NavigateTo("/user");
            }
        }
        else
        {
            user = new UserViewModel
            {
                IsActive = true
            };
        }

        isLoading = false;
    }

    private async Task HandleValidSubmit()
    {
        if (IsEditMode)
        {
            var result = await UsersService.UpdateUserAsync(Id!.Value, user);

            if (!result.IsSuccess)
            {
                NotificationService.Error($"{result.Message ?? "Unable to update user."}");
                return;
            }

            NotificationService.Success("User updated successfully.");
        }
        else
        {
            var result = await UsersService.CreateUserAsync(user);

            if (!result.IsSuccess)
            {
                NotificationService.Error($"{result.Message ?? "Unable to create user."}");
                return;
            }

            NotificationService.Success("User created successfully.");
        }

        NavigationManager.NavigateTo("/user");
    }

    private void GoBack() => NavigationManager.NavigateTo("/user");
}
